.App {
  text-align: center;
}
h4 {
  text-align: center;
}
.flexItem {
  display: flex;
  justify-content: center;
}
.error {
  background: #b56161;
  color: white;
  padding: 6px;
  text-align: center;
}
